body{
    background-color: black;
    color: white;
}
.main{
    margin: 100px 350px;
}
h1{
    color: white;
    text-align: center;
}
.contact-itm{
    display: flex;
}
.contact-container{
    display: flex;
    margin-top: 50px;
}
.Contact-item{
    width: 180px;
    margin: auto;
    text-align: center;
}
.icons-container{
    border-radius: 50%;
    background-color:lightsalmon; 
    height: 50px; 
    width: 50px;
    padding: 10px;
    align-content: center;
    margin-left: 55px;
}
.icon{
    color: black;
    font-size: 25px;
}
h3{
    color: lightsalmon;
}
input{
    background-color: darkgray;
    border-radius: 5px;
    width: 100%;
    margin: 10px 0px;
    padding: 15px 0px;    
}
textarea{
    background-color:darkgray;
    width: 100%;
    border-radius: 10px;
    margin: 10px 0px;
}
button{
    background-color: lightsalmon;
    border-radius: 10px;
    width: 101%;
    margin: 10px 0px;
    padding: 15px;
    font-weight: 900;
}